---
import MainLayout from "./MainLayout.astro";
const { title, image, subtitle} = Astro.props.frontmatter;
---

<MainLayout title={title}>
    <figure class="figure">
    <img class="figure__image" src={image} alt={subtitle}>
    <h1>Hello lets go Learning!</h1>
    <figcaption class="figure__caption">
        <strong>{subtitle}</strong>
    </figcaption>
    {title}
</figure>
<slot />
</MainLayout>
<style>
     .figure{
        margin: 0;
    }
    .figure__image{
        max-width: 100%;
        border-radius: 10px;
    }
    .figure__caption{
        font-size: 0.9rem;
    }
</style>